.book-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 200px;
    height:100%;
}

.book-preview h4{
    text-transform: capitalize;
    color: rgb(235, 230, 230);
}

.book-preview img {
height: 150px;
width: 100px;
}

.on-sale{
margin:0;
color: yellow;
align-self:flex-end;
font-size: 0.6em;
position: absolute;
margin-right:5px;
}

.expensive{
    color: rgb(132, 67, 67);
}

.cheap{
    color:rgb(26, 96, 26)
}