:root {
    --clr1: rgba(233, 35, 206, 0.675);
    --clr2: rgb(214, 153, 185);
  
    --clr1bg: rgba(56, 89, 103, 0.782);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(253, 236, 246);
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
  
  } 